.font-serif{
	font-family: $font-family-serif !important;
}


p , li{
	font-weight: 300;
}

a{
	transition: color .5s, opacity .5s, background-color .5s;
	font-weight: 400;
}

h4{
	// font-weight: 800;
}
h3,h4,h5{
	a{
		font-weight: inherit;
	}
}
.entry-title{
	font-weight: 400;
	a{
		color: inherit;
		&:hover{
			color: $link-hover-color
		}
	}
}
@include media-breakpoint-down(sm) {
	h2{
		font-size: 1.6rem;
	}
	
}


.card{
	min-width: 200px;
	margin-bottom: 1rem !important;
}


/* Form styles
 *
 * 
 * 
 */

.form-control-lg{
	padding: 0;
	/* mobile styles */
	.form-control {
	    display: block;
	    margin-bottom: 1rem;
	    float: inherit;
	}
}
	/* email input */
.sidebar-primary #mc4wp-form-1 .input-group-btn{
	display: block;
	min-width: 240px;
}

