
// $enable-flex:               true;
// $enable-rounded:            true;
// $enable-shadows:            true;
// $enable-gradients:          true;
// $enable-transitions:        true;
// $enable-hover-media-query:  true;
// $enable-grid-classes:       true;
// $enable-print-styles:       true !default;



//== Colors

$red-light:				     #F55B5B;
$blue-blue: 			     #0076d7;
$blue-dark:            #061D32;
$blue-light:			     #13A2EC;
$blue-light-light:		 lighten(#13A2EC,5%);
$blue-grey:				     #e5ecf1;


$color-facebook:		  #3b5998;
$color-twitter: 		  #55ACEE;
$color-reddit:			  orangered;
$color-google-plus: 	#D34836;
$color-pinterest: 		#cb2027;

$brand-primary:         $blue-light;
$brand-success:         $red-light;
$brand-info:            darken(#cd3333,20%);
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;


$bg-green:				      #d3dade;
$bg-gray:				        #e5f1ff;


//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #f7f7fc;
$content-bg:            white;
//** Global text color on `<body>`.
$text-color:            black;

//** Global textual link color.
$link-color:            $blue-blue;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($blue-blue,16%);

$link-hover-decoration:  inherit;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Source Sans Pro","Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
$font-family-serif:       Lora, Cambria, Georgia, serif;
// $font-size-base:		  16px;
$font-family-base:        $font-family-sans-serif;

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    300;
$headings-color:          #111;
 

// Glyphicons font path
// $icon-font-path:        "../fonts/";
// $fa-font-path: "~font-awesome/fonts";


// Grid settings
$main-sm-columns:         12;
$sidebar-sm-columns:      5;
$grid-gutter-width:       0.6rem;

