



.btn-hero{
	font-size: 3rem;
	margin: 1rem auto;
	border-radius: 1.2rem;
	text-align: center;
	border: 1px solid lighten($blue-blue, 8%);
	&:hover {
		background-color: lighten($brand-primary, 4%);
	}
}

.navigation{
	
}