
/**
 * event item template
 */


.event-item {
	padding: .9rem 0;
	display: block;
	line-height: 1.4;
	color: #333;
	&:hover{
		color: #111;
		background: #FDFDFD;
	}
}
.event-date,
.event-location{
	margin: 0;
	color: #555;
	font-size: .9rem;
	strong{
		color: #5D5D5D;
	}
}
.event-tagline{
	margin: 0;
  color: #555;
}
.event-title{
	margin: 0;
}


/**
 * default tribe event output
 * event single
 */

.tribe-events-schedule{
  .recurringinfo{
    display: block;
    .tribe-events-divider{
      display: none;
    }
  }
}

.tribe-events-sub-nav{
  padding: 0;
  display: flex;
  .tribe-events-nav-previous{
    text-align: left;
  }
  .tribe-events-nav-next{
    text-align: right;
  }
}


.tribe-events-schedule{
  h2{
    font-size: 1.6rem;
    margin: 0;
  }
} 

.tribe-events-single-section{
  .tribe-events-meta-group{
    // max-width: 50%;
  }
  
}
.tribe-events-meta-group-details dt{
  line-height: 1;
}


.tribe-related-events{
  padding: 0;
  font-size: .9em;
  .h3{
    font-size: .9em;
  }
  .recurringinfo{
    display: none;
  }
}

/**
 * tribe events general 
 */
.tribe-events-button{
  @extend .btn;
}