// Grid system

.container-fluid, .navbar{
  position: relative;
  max-width: 1100px;
  margin: auto;
}
.content{
  @include make-row();
}


.main {
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col($main-sm-columns);
    .sidebar-primary & {
      @include make-col($main-sm-columns - ( $sidebar-sm-columns ) );
      background: white;
      margin-top: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
.sidebar {
  margin: 4rem 0 0;
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col($sidebar-sm-columns);
  }
}

.center-500{
  max-width: 500px;
  margin: 3rem auto;
}
.center-700{
  max-width: 700px;
  margin: 3rem auto;
}
.center-800{
  max-width: 800px;
  margin: 3rem auto;
}



.half, .third, .two-third, .quarter{
  @include make-col-ready();
}

@include media-breakpoint-up(md) {
  .quarter{ 
    @include make-col(3);
  }
  .third{ 
    @include make-col(4);
  }
  .half{
    @include make-col(6);
  }
  .two-third{ 
    @include make-col(8);
  }
}

@include media-breakpoint-down(xs) {
  .xs-full-width{
    @include make-col(12);
  }
}
@include media-breakpoint-down(sm) {
  .sm-full-width{
    @include make-col(12);
  }
}


