.social-links{
	@extend .btn-group;
}
.social-links-sharer{
  margin: 1rem 0;
}
.social-link{
	@extend .nav-link;
	opacity: 1;
	&:hover{
		opacity: .7;
	}
	.svg-path{
		// fill: rgba(white,.8);
	}
}

.social-svg{
  position: relative;
  top: 3px;
}

.btn-social{
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	line-height:22px;
	height:28px;
	padding: 3px 7px;
	vertical-align:top;
	// border-radius: 3px;
	transition: background .5s;
	font-family: sans-serif;
	.svg-path{
		// fill: white;
	}
}

.btn-facebook, .btn-facebook-nojs{
	background: $color-facebook;
	border: 1px solid lighten($color-facebook, 6%);
	&:hover,
	&:focus,	
	&:active{
		background: lighten($color-facebook,7%);
		color: white;
	}
}

.btn-twitter{
	background: $color-twitter;
	border: 1px solid lighten($color-twitter, 6%);
	&:hover,
	&:focus,	
	&:active{
		background: lighten($color-twitter,7%);
		color: white;
	}
}

.btn-sharer{
  color: white;
  text-transform: uppercase;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  -webkit-transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear;
  padding: 6px;
  .icon{
    width: 22px;
    height: 24px;
    background-size: 24px;
  }
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
    background-color: $blue-light;
    color: $blue-dark;
  }
}