
/**
 * 
 *
 * 
 */

.icon {
	display: inline-block;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	background-position: 50% 50%;
	background-size: 100%;
}

.nav .icon{
	margin-right: 5px;
}


/**
 * Flex overrides 
 *
 */

.flex-direction-nav a:before {
    font-size: 60px;
    display: inline-block;
    color: rgba(0,0,0,.7);
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
    top: -30px;
    position: relative;
}

.flex-prev{ 
    &:before{
        font-family: FontAwesome !important;
        content: "\f104" !important;
    }
}

.flex-next{
    &:before{
        font-family: FontAwesome !important;
        content: "\f105" !important;
    }
}