
// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes


.button{
  @extend .btn;
}
.button-primary{
  @extend .btn-primary;
}
.login-username, .login-password, .login-remember{
  @extend .form-group;
  margin-bottom: .2rem;
  label{
    width: 6rem;
  }
}

// bs4 form helperts 
@include media-breakpoint-down(sm) {
  .form-control{
    margin-bottom: .7rem;
  }
}
.form-inline .btn{
  border-radius: 0;
}
.login-remember{
  label{
    width: 100%;
  }
}


// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: ($spacer / 2) auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}
@include media-breakpoint-up(sm) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }
  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}


.wp-post-image{
  @extend .img-fluid;
}

// Captions
.wp-caption {
  // @extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}


// the_category output
.post-categories{
  margin: .5rem 0;
  display: flex;
  list-style: none;
  a{
    padding: 0 5px;
    &:first-child{
      padding-left: 0px !important;
    }
  }
}