




footer.content-info{
	margin-top: 3rem;
	padding: 2rem 0 3rem;
	border-top: 1px solid white;
	background: $blue-dark;
	color: white;
	.nav{
		margin-bottom: 1rem;
	}
}

#nav-footer{
	h4{
		font-size: 1.3rem;
		text-transform: uppercase;
		color: #fff;
		font-weight: 400;
		margin: 1rem 0 0;
	}
	a{
		color: #ddd;
		text-transform: capitalize;
		font-size: 1.1rem;
		&:hover{
			color: #fff;
		}
	}
	.active{
		border: inherit;
	}
}

.paid-for{
	letter-spacing: .1em;
	font-weight: 500;
	text-transform: uppercase;
	border: 1px solid #364350;
	font-size: 1rem;
	max-width: 300px;
	padding: .5rem 0;
	margin: 2rem auto 0;
	text-align: center;
	clear: both;
}