.banner{
	background: white;
}

$bannerheight : 85px;
#header-navbar{
	padding-bottom: 0;
	padding-top: 0;
  background: $content-bg;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  @include media-breakpoint-down(md) {
    padding: 0;
  }
  .nav-link{
    padding-bottom: 0;
  }

	.social-link{
		padding: 0 1rem 0 0;
	 	svg{
	 		width: 30px;
	 		height: 30px;
	 	}
	}
	.pull-sm-right{
		// height: $bannerheight;
	}
}

.navbar-brand{
  width: 80%;
  height: 60px;
  max-width: 100%;
  background: url('../images/header-myd.png') no-repeat bottom left;
  background-size: contain;
  
  @include media-breakpoint-up(md) {
    height: $bannerheight;
    max-width: 370px;
    display: block;
    margin: 0;
  }
}
.brand-title{
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px,1px,1px,1px);
}
.navbar-toggler{
  padding: .2rem;
  min-height: 60px;
  border: 0;
}
#navbarNavDropdown{
  width: 100%;
  flex: auto;
  @include media-breakpoint-up(md) {
    width: auto;
    margin-left: auto;
  }
}
#menu-primary{
  padding-bottom: .2rem;
  padding-left: .3rem;
	// margin: 3px 0 0;
	> li {
		text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1.4px;
	}
	a{
    color: #111;
    border-bottom: 1px solid #FFF;
	}
  @include media-breakpoint-up(sm) {
  	.active > a{
  		border-bottom: 1px solid $blue-blue;
  	}
  	a:hover{
  		border-bottom: 1px solid $brand-primary;
  		color: #000;
  	}
  }
	.menu-donate{
		a{
			color: red;
			&:hover{
				color: inherit;
			}
		}
	}
}
.dropdown-item.active, .dropdown-item:active{
  background-color: $blue-blue;
  color: white !important;
}
.navbar-toggleable-sm, .navbar-toggleable-md{
  .nav-item:first-child{
    .nav-link{
      padding-left: 0;
    }
  }
  .nav-item:last-child{
    .nav-link{
      padding-right: 0;
    }
  }
	// flex-wrap: wrap;
	// @include clearfix();
	// .menu-item{
	// 	// float: left;
	// 	position: relative;
	// }
	// > .active > a{
	// 	border-bottom: 1px solid $blue-blue;
	// }
	// .menu-item+.menu-item{
	// 	margin-left: 1rem;
	// }
	// .sub-menu {
 //    display: none;
	// 	position: absolute;
 //    top: 100%;
 //    z-index: 1000;
 //    width: 250px;
	// 	right: 0;
	// 	margin: 0;
 //    padding: 12px 0;
 //    text-align: right;
 //    list-style: none;
 //    background-color: white;
 //    background-clip: padding-box;
 //    border: 1px solid rgba(#ddd,.9);
 //    border-radius: 0 0 .6rem .6rem;
 //    border-top-color: rgba(0,0,0,0); 
	// 	.menu-item, .nav-item{
	// 		float: none;
	// 		margin-left: 0;
	// 	}
	// 	a{
	// 		display: block;
	// 		padding: 2px 12px;
	// 		font-size: 1.2rem;
	// 		font-weight: 400;
	// 		color: #333;
	// 		letter-spacing: 1px;
	// 		border-bottom: 1px solid rgba(black,0);
	// 		&:hover{
	// 			// background: inherit;
	// 			text-decoration: none;
	// 			background-color:  $brand-primary;
	// 			// border-bottom: 1px solid rgba(white,.7);
	// 		}
	// 	}
	// }
	// .dropdown:hover, .menu-item-has-children:hover{
	// 	.sub-menu{
	// 		display: block;
	// 	}
	// }
}


/* Hero slider styles
 *
 * 
 * 
 */
.hero-flex{
	$slideshowheight: 540px;

	overflow: hidden;
	padding-bottom: 40px;
	height: $slideshowheight;
	// flex resets
	border: 0;
	margin: 0;
	border-radius: 0;
	.container{
		display: block;
    height: 100%;
    position: relative;
    width: 100%;
	}
	.slide{
		height: $slideshowheight;
	}
	.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 5px;
	}
}

@include media-breakpoint-up(sm) {
	.hero-title{
	  margin: 2rem 0 8px;
	  font-size: 2rem;
    // max-width: 500px;
    // font-size: 40px !important;
  }
}
.hero-title{
  font-family: $font-family-serif;
	margin-top: 0 !important;
}
.hero-text{
	color: black;
  padding: 8px 2px;
  @include media-breakpoint-up(sm) {
   font-size: 1.2rem;
	 font-weight: 300;
	}
}
.hero-bottom{
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,.85);
	max-width: 768px;
	margin: 0;
  padding: .5rem;
  
  @include media-breakpoint-up(sm) {
  	padding: 2rem 2rem 1rem;
		margin: auto;
    left: 0;
    right: 0;
	}
  .btn{
  	display: block;
  	margin: 1rem 0 0;
    border: 1px solid rgba(255,255,255,.7);
    @include media-breakpoint-up(sm) {
  	 font-size: 1.7rem;

    }
  }
}
.slide {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
	background: $blue-dark;
    // background: -webkit-linear-gradient(bottom right,#4cddff,#3b9aca 10%,#2d6ca5 20%,#2a5291 27%,#283d81 35%,#222654 50%,#1e1635 63%,#0c0010 93%,#000)
    background: linear-gradient(to top left,#4cddff,#3b9aca 10%,#2d6ca5 20%,#2a5291 27%,#283d81 35%,#222654 50%,#1e1635 63%,#0c0010 93%,#000);
}


