

/** 
 * all pages
 * using template page
 *
 */

.page-header .event-item{
	background: $blue-light;
	border: 1px solid lighten($blue-light, 5%);
	padding: .5rem;
	margin-bottom: 1rem;
	p, h3{
		color: white;
	}
	&:hover{
		background: $blue-light-light;
		border: 1px solid lighten($blue-light-light, 5%);
	}
	.event-location a{
		text-decoration: underline;
		color: white;
		&:hover{
			text-decoration: none;
		}
	}
}

.pages-nav{
	a{
		display: block;
	}
}

/** 
 * front page 
 *
 */

.home{
 	.navbar{
 		border: none;
 	}
 	h1,h2{
 		margin-top: 4rem;
 		color: #000;
 	}
 	h2 a {
    font-weight: 300;
    color: black;
    &:hover{
    	color: #666;
    }
	}
}
/* 
 #front-page-hero{
 	position: relative;
 	.bg{
	 	height: 400px; 
	 	width: 100%;
	 	display: block;
	 	background: url('../images/de-blasio.jpg') top center no-repeat;
	 	background-size: cover;
	 	// border-top: 1px solid #444;
	 	// border-bottom: 1px solid #444;
 	}

} */

#front-page-content{
	
	.form-control{
		// width: 300px;
	}
}



// #front-page-connect{
// 	max-width: 700px;
//     margin: 5rem auto;
//     border: 1px solid white;
//     padding: 1.5rem;
//     background:  rgba($blue-light,.95);
//     margin-top: -7rem;
// @include media-breakpoint-up(sm) {    
//     background: rgba($blue-light,.85);
//     padding: 2rem;
//     border-radius: 12px;
//     // box-shadow: 1px 1px 3px rgba(250,250,250,.9);
//     transition: background-color .5s;
//     &:hover{
//     	background: rgba($blue-light,.95);
//     	.join{
//     		border: 2px solid rgba(255,255,255,.9);
//     	}
//     }
//     .font-serif{
//     	text-align: justify;
//     }
// }
//     // .join{
//     // 	    color: #fff;
// 		  //   font-size: 3rem;
// 		  //   margin: 0;
// 		  //   display: inline-block;
// 		  //   margin: auto;
// 		  //   min-width: 40%;
// 		  //   text-align: right;
// 		  //   float: right;
// 		  //   background: rgba($blue-light,1);
// 		  //   border: 2px solid rgba(255,255,255,.4);
// 		  //   font-weight: 700;
// 		  //   text-transform: lowercase;
// 		  //   position: relative;
// 		  //   padding-bottom: 9px;
// 		  //   margin: 15px 0 5px;
// 		  //   transition: border-color .5s;
//     // }
//     .h2, .h3{
//     	color: white;
//     	margin: 0;
//     }
//  	.social-links{
//  		text-align: center;
//  		margin: 3rem auto;
//  	}
//  	a.social-link{
// 	 	svg{
// 	 		width: 80px;
// 	 		height: 80px;
// 	 	}
// 	}
// }

@include media-breakpoint-up(sm) {

	.home{
		#mc4wp-form-1{

			.form-control{
				border-radius: 0;
			}

			.middle-element{
				border-radius: 0;
		    border-left: 0;
		    border-right: 0;
			}
		}
	}
	
}


#front-events{
	h2{
		margin: 0;
		a{
			color: black;
			font-weight: 300;	
		}
	}
	.events{
		// @include make-col();
		// @include make-col-span(6);
		
	}
}


#front-news{
	.post{
		// @include make-col();
		// @include make-col-span(4);
	}
	.card-img-top{
		// min-height: 250px;
		border-bottom: 1px solid #EEE;
		.wp-post-image{
			max-width: 100%;
			height: auto;
			display: block;
			margin: auto;
		}
	}
	.card{
		@include media-breakpoint-up(md) {
			// width: 33%;
		}
		
		padding-bottom: 3rem;
	}
	.excerpt-more{
		position: absolute;
		bottom: 1.25rem;
		left: 1.25rem;
	}
}

/** 
 * open seat project
 *
 */

 #iframePollSite{
 	width: 380px;
 	height: 600px;
 	position: relative;
 	overflow: hidden;
 	.iframe{
 		top: -120px;
 		position: relative;
 	}
 }
// hack to remove active styles from child page
.page-child #menu-open-seat .menu-sign-up a{
	border-color: transparent;
}

/**
 * leadership page
 * @uses user template file
 */
.user-profiles{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.user-profile{
		text-align: center;
		padding-bottom: 1rem;
		flex: 1 1 auto;
    padding-bottom: 1rem;
    min-width: 180px;
	}
	h3{
		font-size: 18px;
		font-weight: bold;
		color: #555;
		margin: .5rem 0 0;
	}
	.img-thumbnail{
		border-radius: 50%;
		// max-width: 140px;
		height: auto;
	}
	p{
		margin: 0;
		font-size: .95rem;
		a{
			font-weight: 300;
		}
	}
	.modal-title .small{
		color: #555;
	}
}
.leadership{
	h2{
		margin-top: 2rem;
	}
	td{
		border: 0;
	}
	.size-thumbnail{
		margin-top: 5px;
	}
	.more{
		overflow: hidden;
	}
}
.leadership td:first-child {
    width: 190px;
}