.widget{
	margin-bottom: 4rem;
	h3{
		margin-bottom: 0;
	}
}

.sidebar{
	.widget ul{
		padding: 0px;
		list-style: none;
	}
	.social-link svg{
		width: 40px;
		height: 40px;
	}
	.input-group{
		width: 100%;
	}
	.search-field{
		max-width: 280px;
	}
	@include media-breakpoint-up(sm) {
		.search-field{
			max-width: 230px;
		}
	}
}
