#tribe-events-report {
	.wrap {
		padding: 10px;

		> h2 {
			display: inline-block;
				&:after {
					content: ':';
					display: inline-block;
					margin: 0 10px 0 0;
				}

			+ h2 {
				&:after {
					content: '';
					display: none;
				}
			}
		}
	}

	#tribe-filters {
		background: #fff;
		padding: 10px 0 0 0;
	}

	.toggle-row {
		display: none;
	}

	.button,
	.export.button {
		display: inline-block;
		font-size: 1.2rem;
		line-height: normal;
		padding: 10px 20px;
	}

	.eventtable {
		border: none;

		td {
			border: none;
			font-size: 14px;
			padding-top: 0;
		}

		h4 {
			border-bottom: 1px solid #ededed;
			margin-top: 0;
		}
	}

	.ticket_list {
		tr {
			td {
				vertical-align: top;

				.totals {
					background: #2ea2cc;
					color: #fff;
					font-size: 20px;
					font-weight: 400;
					height: auto;
					line-height: 30px;
					padding: 20px 10px;
					text-align: center;
					width: auto;
				}
			}
		}
	}

	.action {
		margin-right: 7px;
	}

	.export {
		font-size: 14px;
	}

	.actions {
		margin-bottom: 14px;
	}

	.tablenav {
		div:nth-child(3) {
			background: #f5f5f5;
			font-size: 12px;
			padding: 7px 14px;

			input {
				background: #fff;
			}
		}
	}

	.tribe-scrollable-table {
		background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))),
			-webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))),
			-webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f5f5f5), color-stop(100%, rgba(195, 195, 197, 0))),
			-webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #f5f5f5), color-stop(100%, rgba(195, 195, 197, 0)));
		background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)),
			-webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)),
			-webkit-linear-gradient(left, #f5f5f5, rgba(195, 195, 197, 0)),
			-webkit-linear-gradient(right, #f5f5f5, rgba(195, 195, 197, 0));
		background-image: -moz-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)),
			-moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)),
			-moz-linear-gradient(left, #f5f5f5, rgba(195, 195, 197, 0)),
			-moz-linear-gradient(right, #f5f5f5, rgba(195, 195, 197, 0));
		background-image: -o-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)),
			-o-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)),
			-o-linear-gradient(left, #f5f5f5, rgba(195, 195, 197, 0)),
			-o-linear-gradient(right, #f5f5f5, rgba(195, 195, 197, 0));
		background-image: linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)),
			linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)),
			linear-gradient(left, #f5f5f5, rgba(195, 195, 197, 0)),
			linear-gradient(right, #f5f5f5, rgba(195, 195, 197, 0));
		background-position: 0 0, 100% 0, 0 0, 100% 0;
		background-repeat: no-repeat;
		background-color: white;
		background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
		background-attachment: local, local, scroll, scroll;
		overflow-x: auto;
		margin-bottom: 1.6em;
		width: 100%;
	}

	.wp-list-table {
		border-bottom: none;
		border-collapse: separate;
		border-spacing: 7px;
		font-size: 14px;
		margin-bottom: 0;
		width: auto;
	}

	tfoot {
		display: none;
	}
}

#event_tickets .updated:not(.published) {
	display: table-cell;
}

#filters-wrap {
	> h3 {
		display: none;
	}

	h4 {
		color: #999;
		text-transform: uppercase;
	}

	td {
		padding: 10px;
	}
}

.tribe-section-container {
	background: #f9f9f9;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	margin-bottom: 1.6842em;
	padding: 10px;

	.note {
		color: #a3a3a3;
		font-style: italic;
		font-size: 12px;
	}

	input[type="radio"] + label + .note {
		margin-bottom: 10px;
		margin-left: 20px;
	}

	td {
		.entry-content & {
			border-top: none;
		}
	}

	table {
		border: 0;

		td {
			border: 0;
		}

		.entry-content & {
			border-bottom: none;
			margin-bottom: 0;
		}
	}
}

.tribe-section {
	.ticket_list tr td {
		padding: 4px 0;

		label {
			line-height: 28px;
		}

		.ticket_name {
			padding: 0;
			margin: 0;
		}

		.ticket_controls {
			margin-bottom: 5px;
		}
	}

	.ticket_form tr td {
		padding-bottom: 10px;

		p {
			margin: 0;
			font-style: italic;
		}
	}
}

.tribe-community-tickets-payment-options {
	margin-bottom: 0;

	td {
		vertical-align: top;
	}
}

.tribe-community-tickets-payment-options-link {
	display: inline-block;
	margin-left: 28px;
}

.icon32-tickets-attendees {
	display: none;
}

#ticket_form_toggle {
	margin-top: 10px;
}

#ticket_form_table {
	.ticket_advanced_Tribe__Events__Tickets__Woo__Main {
		.warning {
			display: none;
		}
	}

	#ticket_woo_stock,
	#ticket_woo_sku,
	#ticket_price {
		max-width: 5em;
	}
}

.tribe-image-uploads-disabled {
	.tribe-tickets-image-upload,
	.tribe-tickets-image-preview {
		display: none;
	}
}

div.tribe_sectionheader {
	font-size: 12px;
}

.tribe-field-note {
	font-size: .7em;
	font-style: italic;
}

.tribe-event-meta {
	padding: 0 0 10px;
}

.tribe-event-meta-note {
	color: #999;
	font-size: 90%;
}

.tribe-events-community-tickets-purchase-limit {
	color: #999;
	font-size: 70%;
	font-style: italic;
}

#tribetickets {
	.updated {
		background: transparent;
		border: none;
		font-weight: bold;
		padding: 0;
	}
}

@media print {
	.tribe-events-pg-template form {
		display: block;
	}
}